/* ---------- FONTS ---------- */

* {
    font-family: Roboto, sans-serif;
    box-sizing:border-box;
    padding:0;
    margin:0;
}
body {
    color: white;
    padding: 0 3.5rem;
    line-height: 1.5;
}
h1{
    font-size: 3.5rem;
    color: white;
    font-weight: 800;
    line-height: 1;
    margin-bottom: 2rem;    
}
h2 {
    margin-bottom:20px;
}

p {
    margin: 0 0 20px;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    color: inherit; 
}


/* ---------- BG ---------- */

.bg-section {
    background-image: var(--background-image);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; 
    z-index: -1; 
}
.bg-section::before {
        content: ""; 
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.45); 
        z-index: 1; 
    }
/* ---------- Navbar ---------- */

.navbar {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem 0;

}

.navbar a{
    font-weight: 300;
    color: #ffffff;
    font-size: 1.2rem;
}

.navbar a.navbar-brand{
    font-size:1.5rem;
    font-weight: 600;
}
.navbar ul {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
        place-self: center;
    }

.navbar ul li{
    margin-right: 0.5rem;
}
 
.kontakt-os{
    border: 1px solid white;
    place-self: end;
    padding: 0.5rem 1.5rem;
}



/* ---------- Buttons ---------- */

.primary-button {
    border: 1px solid white;
    padding: 0.75rem 1.5rem;
}
 .primary-button:hover{
    text-decoration: underline;
 }

.hero-buttons{
    margin: 2rem 0;
}
.hero-buttons a{
    margin-right: 1rem;
}
/* ---------- Hero section ---------- */
.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5rem 2rem;
    width: 100%;
    max-width: 35rem;
}

/* ---------- Cases section ---------- */
.cases-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25vw, 40vw));
    grid-gap: 3rem;
    place-content: center;
    margin: 15rem 0;

}
.cases-container p{
    margin: 2rem 0;
}
.case-name {
    font-weight: 500;
    padding: 4rem 0;
}

.case img{
    width: 100%;
    margin-bottom:1rem;
}

.case h2 {
    margin-top:1rem;
    font-size: 2.5rem;
    line-height: 1.3;
}